<%- include ('header') -%>


  <div class="weather">
    <p>The weather is currently <%- weatherDes -%> </p>

    <h1>The Temparature in <%- cityName -%> <%- weatherTemp -%></h1>
    <img src="<%- imgUrl -%>" alt="">
  </div>








<%- include ('footer') -%>