<%- include ('header') -%>


  <div class="weather container">
    <p>The weather is currently <%- weatherDesc -%> </p>

    <h1>The Temparature in <%- cityName -%> is <%- weatherTemp -%> Degree Celcius.</h1>
    <img src="<%- imgUrl -%>" alt="">
  </div>


<%- include ('footer') -%>