<%- include ('header') -%>


  <div class="weather container">
    <p>The weather is currently <%- weatherDesc -%> </p>

    <h1>The Temparature in <%- cityName -%> is <%- weatherTemp -%>&#8451.</h1>
    <img src="<%- imgUrl -%>" alt="">
  

<%- include ('footer') -%>